In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/romas/Documents/aman_VIT/ML Dataset/Book1.csv")

In [3]:
data.head()

,Price,Country,State,City,Art Type,Hours devoted,classify,Unnamed: 7
0,5000.0,india,goa,panaji,0.0,28.0,1.0,NaN
1,10000.0,india,goa,panaji,1.0,48.0,1.0,NaN
2,7500.0,india,goa,calangute,1.0,12.0,0.0,NaN
3,15000.0,india,goa,baga,1.0,4.0,0.0,NaN
4,25000.0,india,goa,anjuna,1.0,16.0,1.0,NaN

In [4]:
data.shape

(10, 8)

In [5]:
data.describe()

               Price  Art Type  Hours devoted  classify
count       9.000000  9.000000       9.000000  9.000000
mean    36055.555556  0.555556      35.555556  0.555556
std     47348.735757  0.527046      33.745782  0.527046
min      2000.000000  0.000000       4.000000  0.000000
25%      7500.000000  0.000000      12.000000  0.000000
50%     15000.000000  1.000000      22.000000  1.000000
75%     50000.000000  1.000000      48.000000  1.000000
max    150000.000000  1.000000     100.000000  1.000000

In [6]:
data.shape

(10, 8)

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Country'] = le.fit_transform(data['Country'])

In [8]:
data.columns

Index(['Price', 'Country', 'State', 'City', 'Art Type', 'Hours devoted',
       'classify', 'Unnamed: 7'],
      dtype='object')

In [9]:
data = data.drop(['State'],axis=1)

In [10]:
data = data.drop(['City'],axis=1)

In [11]:
data = data.drop(['Unnamed: 7'],axis=1)

In [12]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [13]:
clean_dataset(data)

      Price  Country  Art Type  Hours devoted  classify
0    5000.0      0.0       0.0           28.0       1.0
1   10000.0      0.0       1.0           48.0       1.0
2    7500.0      0.0       1.0           12.0       0.0
3   15000.0      0.0       1.0            4.0       0.0
4   25000.0      0.0       1.0           16.0       1.0
5   50000.0      0.0       1.0           22.0       0.0
6    2000.0      0.0       0.0           10.0       1.0
7  150000.0      0.0       0.0          100.0       0.0
8   60000.0      0.0       0.0           80.0       1.0

In [14]:
data.head()

     Price  Country  Art Type  Hours devoted  classify
0   5000.0        0       0.0           28.0       1.0
1  10000.0        0       1.0           48.0       1.0
2   7500.0        0       1.0           12.0       0.0
3  15000.0        0       1.0            4.0       0.0
4  25000.0        0       1.0           16.0       1.0

In [15]:
X = data.drop(['classify'],axis=1)
Y = data['classify']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression()

In [19]:
lm.fit(X_train,Y_train)

LogisticRegression()

In [20]:
predictions = lm.predict(X_test)
from sklearn import metrics
y_pred = lm.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error: 0.6666666666666666
Mean Squared Error: 0.6666666666666666
Root Mean Squared Error: 0.816496580927726

In [21]:
print(y_pred)

[1. 1. 1.]

In [22]:
lm.score(X_test,Y_test)#final accuracy

0.3333333333333333

In [23]:
from sklearn.metrics import confusion_matrix,classification_report

In [24]:
print(classification_report(y_pred,Y_test))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00         0
         1.0       1.00      0.33      0.50         3

    accuracy                           0.33         3
   macro avg       0.50      0.17      0.25         3
weighted avg       1.00      0.33      0.50         3

C:\Users\romas\anaconda3\envs\aman\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\romas\anaconda3\envs\aman\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\romas\anaconda3\envs\aman\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [25]:
print(confusion_matrix(y_pred,Y_test))

[[0 0]
 [2 1]]

In [29]:

import pickle

In [32]:
pickle_final=open("lm.pkl","wb")

In [33]:

pickle.dump(lm,pickle_final)

In [34]:
pickle_final.close()